body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}

#TopBar
{
  position: fixed;
  z-index:10;
  top: 60px;
  width: 100vw;
  height:auto;
  text-align: center;
}
#TopBar ul
{
  margin:0;
}
#TopBar ul li
{
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  float: left;
  line-height: 30px;
  width: 16%;
  vertical-align: middle;
  text-align: center;
}

#TopBar .Link
{
  text-decoration: none;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
}

#TopBar .Link:hover
{
  color: black;
  background-color: #4d4d4d;
}

.userName
{
  top:10px;
  z-index:10;
  color:#FFFFFF;
  position:fixed;
  right:5vw;
}


.anim
{
  text-align: center;
}

.aos
{
  margin-top:100px;
  margin-bottom:100px;
}

#T
{
  font-size:20px;
  color:white;
}

.MImg
{
  margin-top:150px;
  width:100vw;
  max-width:1200px;
  height:auto;

}
.img
{
  width:80vw;
  height:auto;
  max-width:800px;
  margin-top:100px;
  margin-bottom:100px;
}

#bs
{
  cursor:pointer;
}

.intr
{
  color:white;
  font-size:50px;
}

.mint
{
  color:white;
  font-size:25px;
}

.mem_intro
{
  text-align: center;
}
