body{
  margin:0px;
  width:90vw;
  text-align: center;
}
#TopBar
{
  position: fixed;
  z-index:10;
  top: 60px;
  width: 100vw;
  height:auto;
  text-align: center;
}

#TopBar ul li
{
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  float: left;
  line-height: 30px;
  width: 16%;
  vertical-align: middle;
  text-align: center;
}

#TopBar .Link
{
  text-decoration: none;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
}

#TopBar .Link:hover
{
  color: black;
  background-color: #4d4d4d;
}

.userName
{
  margin-top:-13vh;
  z-index:10;
  color:#FFFFFF;
  position:fixed;
  right:5vw;
}

.mainbox
{
  margin-top:200px;
  text-align:center;
  background-color:black;
  border:none;
}

#T
{
  font-size:20px;
  margin-top:40vh;
  color:white;
}
.anim
{
  text-align:center;
}
.aos
{
  margin-top:100px;
  margin-bottom:100px;
}

.img
{
  width:80vw;
  height:auto;
  max-height:auto;
  margin-top:100px;
  margin-bottom:100px;
}